@font-face {
  font-family: "LCARS";
  src: local("Helvetica Ultra Compressed");
}

.lcars-text,
.lcars-button {
  font-family: "LCARS";
  text-transform: uppercase;
}

.lcars-text--xl {
  font-size: 2rem;
  line-height: 0.75;
}

.lcars-text--l {
  font-size: 1.5rem;
}

.lcars-text--m {
  font-size: 1.25rem;
}

.lcars-text--s {
  font-size: 1.125rem;
}

/* text colors */
.lcars-text--mauve {
  color: var(--lcars-mauve);
}

.lcars-text--yellow {
  color: var(--lcars-yellow);
}